<div class="coulum">
	<ul>
		<li>管理员
			<ul>
				<li><a href="{:url('user/index')}">管理列表</a></li></li>
				<li><a href="{:url('auth_group/index')}">用户组列表</a></li></li>
				<li><a href="{:url('auth_rule/index')}">权限列表</a></li></li>
				<li><a href="{:url('user/index')}">管理列表</a></li></li>
			</ul>
		</li>	
		<li><a href="{:url('article/index')}">文章管理</a></li>
		<li><a href="{:url('cate/index')}">栏目列表</a></li>			
		<li><a href="{:url('link/index')}">友情链接</a></li>
		<li>系统配置
			<ul>
				<li><a href="{:url('admin/index')}">管理员管理</a></li></li>
				<li><a href="{:url('conf/conf')}">配置项</a></li></li>
				<li><a href="{:url('conf/index')}">配置列表</a></li></li>
			</ul>
		</li>	
	</ul>
</div>